.portfolio-section {
  padding: 6rem 0;
}
.portfolio-section .portfolio-heading {
  font-size: 3.5rem;
  line-height: 3rem;
  margin: 0 0 3rem 0;
}
.portfolio-section h1 {
  font-size: 3.5rem;
  line-height: 3rem;
  margin: 0 0 3rem 0;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

#btn-cta1,
#btn-cta2 {
  background-color: #ffeb3a;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px #000000;
  transition: all 0.9s ease-in-out;
}
#btn-cta1:hover,
#btn-cta2:hover {
  background-color: #d3be00;
  color: white;
  transform: scale(1.1);
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  transition: all 0.9s ease-in-out, transform 0.6s ease-in-out;
}
.btn-social:hover {
  transform: scale(1.3);
}

.about-section {
  background-color: hsl(209, 85%, 64%);
  font-size: 1.5em;
  padding-bottom: 3rem;
}
.about-section h2 {
  font: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.contact-heading {
  font: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.5rem;
}

.floating-label-form-group {
  position: relative;
  border-bottom: 3px solid rgba(15, 15, 15, 0);
  background-color: rgba(27, 19, 19, 0.9725490196), #f3f1f1;
}

.form-group button {
  margin: 0 auto;
  background-color: #57a7f1;
  color: white;
  transition: ease-in-out 0.3s;
}
.form-group button:hover {
  background-color: rgba(87, 167, 241, 0.5411764706);
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffeb3a;
  color: black;
}

.fa-brands a.btn.hover, .fab a.btn.hover {
  color: #57a7f1;
}

.copyright {
  background-color: #ffe711;
  color: #000;
}

.masthead {
  background-color: #57a7f1;
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.masthead .masthead-heading {
  font-size: 5rem;
  line-height: 5rem;
}
.masthead p {
  font-size: 2rem;
  color: rgb(243, 243, 243);
}
.masthead .masthead-avatar {
  width: 15rem;
}

#mainNav {
  background-color: #49a0f0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem 0;
  color: #000;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 800;
}
#mainNav a.navbar-brand {
  color: white;
  transition: all 0.9s ease-in-out;
}
#mainNav a.navbar-brand:hover {
  color: #ffeb3a;
}

.navbar-nav {
  margin-top: 1rem;
}
.navbar-nav.hover {
  color: #57a7f1;
}
.navbar-nav li.nav-item {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 800;
}
.navbar-nav li.nav-item a.nav-link {
  color: white;
  transition: all 0.9s ease-in-out;
}
.navbar-nav li.nav-item a.nav-link:hover {
  color: #ffeb3a;
}
.navbar-nav li.nav-item a.nav-link:active, .navbar-nav li.nav-item a.nav-link:focus {
  color: white;
}
.navbar-nav li.nav-item a.nav-link.active {
  color: #57a7f1;
}

#navBtn {
  border: white;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
#navBtn:hover {
  box-shadow: 0 0 0 0.2rem white;
  border-color: white;
}
#navBtn .navbar-toggler-icon {
  fill: white;
}

.portfolio {
  margin-bottom: -30px;
}
.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: 700ms;
  opacity: 0;
  background-color: rgba(87, 167, 241, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.jumbotron .failure-btn {
  margin: 0 auto;
  background-color: #57a7f1;
  color: white;
  transition: ease-in-out 0.3s;
}
.jumbotron .failure-btn:hover {
  background-color: rgba(87, 167, 241, 0.5411764706);
}

.feedback-footer {
  margin-top: 29em;
}

.jumbotron .success-btn {
  margin: 0 auto;
  background-color: #57a7f1;
  color: white;
  transition: ease-in-out 0.3s;
}
.jumbotron .success-btn:hover {
  background-color: rgba(87, 167, 241, 0.5411764706);
}


@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'Lato', sans-serif;
}
