@use "../abstracts/variables" as *;

// Custom extra large button size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

#btn-cta1,
#btn-cta2 {
  background-color: $secondary;
  color: rgb(255, 255, 255);
  font-family: $headings-font-family;
  font-size: $H4-font-size;
  text-shadow: 3px 3px 3px #000000;
  transition: $hover-transition;
  &:hover {
    animation: darken-lighten 2.1s infinite;
    color: white;
    transform: scale(1.2);
  }
}
// Keyframes for darken and lighten animation
@keyframes darken-lighten {
  0% {
    background-color: $secondary;
  }

  50% {
    background-color: darken($secondary, 22%);
  }

  100% {
    background-color: $secondary;
  }
}
// Custom social buttons
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  // width: 3.25rem;
  // height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  transition: $hover-transition, transform 0.4s ease-in-out;
  &:hover {
    transform: scale(1.6);
  }
}

