@use '../abstracts/variables' as *;

// Styling for the contact section

h2 { 
    font: $headings-font-family;
    font-size: 3.5rem;
};

.floating-label-form-group {
  position: relative;
  border-bottom: 3px solid  #0f0f0f00;
  background-color: #1b1313f8,fade-out($color: #f3f1f1, $amount: 0);
}

.form-group {

  button {
    margin: 0 auto;
    background-color: $blue;
    color:white;
    transition: ease-in-out 0.3s;
    &:hover {
      background-color: $dark-blue;
    }
  }
}