@use '../abstracts/variables' as *;

// Styling for the contact section

.contact-heading {
    font-family: $headings-font-family;
    font-size: $H2-font-size;
}

.floating-label-form-group {
  font-family: $font-family-sans-serif;
  position: relative;
  border-bottom: 3px solid  #0f0f0f00;
  background-color: #1b1313f8,fade-out($color: #f3f1f1, $amount: 0);
}

.form-group {

  button {
    font-family: $headings-font-family;
    margin: 0 auto;
    background-color: $blue;
    color:white;
    transition: ease-in-out 0.3s;
    &:hover {
      background-color: $dark-blue;
    }
  }
}
// Submit button animation on hover
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
  
}

.btn-bounce {
  &:hover{
  animation: bounce 2s infinite;
  }
}