// hero section of the page
@use "../abstracts/variables" as *;

.masthead {
  background-color: #57a7f1;
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  .masthead-heading {
    background: radial-gradient(closest-side, $secondary, white);
    background-size: 200% 200%;
    transition: background-position 1ms;
    border-radius: 20px;
    font-size: $H1-font-size;
    background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      /* Make the text color transparent to show the background */
      -webkit-text-fill-color: transparent;
      /* For Safari */
  }

  p {
    font-size: $p-font-size;
    color: $gray;
  }
  .masthead-avatar {
    width: clamp(15rem, 50vw, 30rem);
    filter: drop-shadow(0 0 0.5rem $secondary);
  }
}


// @include media-breakpoint-up(lg) {
//   .masthead {
//     padding-top: calc(6rem + 104px);
//     padding-bottom: 6rem;
//     .masthead-heading {
//       font-size: 4rem;
//       line-height: 3.5rem;
//     }
//     .masthead-subheading {
//       font-size: 1.5rem;
//     }

//   }
// }
