// hero section of the page

.masthead {
  background-color: #57a7f1;
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  .masthead-heading {
    font-size: 5rem;
    line-height: 5rem;
  }
  p {
    font-size: 2rem;
  }
  .masthead-avatar {
    width: 15rem;
  }
}

// @include media-breakpoint-up(lg) {
//   .masthead {
//     padding-top: calc(6rem + 104px);
//     padding-bottom: 6rem;
//     .masthead-heading {
//       font-size: 4rem;
//       line-height: 3.5rem;
//     }
//     .masthead-subheading {
//       font-size: 1.5rem;
//     }

//   }
// }
