@use "../abstracts/variables" as *;

// Styling for the navbar
#mainNav {
  background-color: darken($blue, 3%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem 0;
  color: #000;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  a.navbar-brand {
    color: white;
    transition: $hover-transition;
    &:hover {
      color: $secondary;
    }
  }

  .navbar-nav {
    margin-top: 1rem;
    &.hover {
      color: #57a7f1;
    }
    li.nav-item {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      a.nav-link {
        color: white;
        transition: $hover-transition;
        &:hover {
          color: $yellow;
        }
        &:active,
        &:focus {
          color: white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
}
// media-breakpoint-up(lg) {
//   #mainNav {
//     padding-top: 1.5rem;
//     padding-bottom: 1.5rem;
//     transition: padding-top 0.3s, padding-bottom 0.3s;
//     .navbar-brand {
//       font-size: 1.75em;
//       transition: font-size 0.3s;
//     }
//     .navbar-nav {
//       margin-top: 0;
//     }
//     .navbar-nav > li.nav-item > a.nav-link.active {
//       color: white;
//       background: $primary;
//       &:active,
//       &:focus,
//       &:hover {
//         color: white;
//         background: $primary;
//       }
//     }
//   }
//   #mainNav.navbar-shrink {
//     padding-top: 0.5rem;
//     padding-bottom: 0.5rem;
//     .navbar-brand {
//       font-size: 1.5em;
//     }
//   }
// }
