@use "../abstracts/variables" as *;

// Styling for the navbar
#mainNav {
  background-color: darken($blue, 3%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: .5rem 0;
  color: #000;
  font-family: $headings-font-family;
  font-size: $Nav-link-size;
  font-weight: $h3-font-weight;
  a.navbar-brand {
    color: white;
    font-size: 1.5rem;
    transition: $hover-transition;
    &:hover {
      color: $secondary;
    }
    span {
      color: $secondary;
    }
  }

.navbar-nav {
  margin-top: 1rem;
  &.hover {
    color: #57a7f1;
  }
  li.nav-item {
    font-family: $headings-font-family;
    font-weight: $h3-font-weight;
    a.nav-link {
      color: white;
      transition: $hover-transition;
      &:hover {
        color: $yellow;
      }
      &:active,
      &:focus {
        color: white;
      }
      &.active {
        color: $primary;
        }
      }
    }
  }

};